In [22]:
import pandas as pd
df=pd.read_csv("Chocolate Sales (2).csv")
df.head(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184
5,Van Tuxwell,India,Smooth Sliky Salty,06/06/2022,"$5,376.00",38
6,Oby Sorrel,UK,99% Dark & Pure,25/01/2022,"$13,685.00",176
7,Gunar Cockshoot,Australia,After Nines,24/03/2022,"$3,080.00",73
8,Jehu Rudeforth,New Zealand,50% Dark Bites,20/04/2022,"$3,990.00",59
9,Brien Boise,Australia,99% Dark & Pure,04/07/2022,"$2,835.00",102

In [24]:
df.groupby('Sales Person').size()

Sales Person
Andria Kimpton         117
Barr Faughny           129
Beverie Moffet         150
Brien Boise            159
Camilla Castle          96
Ches Bonnell           144
Curtice Advani         138
Dennison Crosswaite    147
Dotty Strutley         108
Gigi Bohling           141
Gunar Cockshoot        129
Husein Augar           114
Jan Morforth           117
Jehu Rudeforth         129
Kaine Padly            135
Karlen McCaffrey       141
Kelci Walkden          162
Madelene Upcott        135
Mallorie Waber         123
Marney O'Breen         135
Oby Sorrel             147
Rafaelita Blaksland    102
Roddy Speechley        129
Van Tuxwell            153
Wilone O'Kielt         102
dtype: int64

In [27]:
df['Date']=pd.to_datetime(df['Date'], format='%d/%m/%Y', errors='coerce')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   datetime64[ns]
 4   Amount         3282 non-null   object
 5   Boxes Shipped  3282 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 154.0+ KB

In [29]:
df['Amount']=(
    df['Amount']
    .astype(str)
    .str.replace('$', '', regex=False)
    .str.replace(',', '', regex=False)
    .str.strip()
    .astype(float)
)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   datetime64[ns]
 4   Amount         3282 non-null   float64
 5   Boxes Shipped  3282 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 154.0+ KB

In [31]:
df.head(5)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.0,180
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.0,94
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.0,91
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.0,184

In [33]:
df['amount_tenge']=df['Amount']*510

In [34]:
df['amount_tenge']

0       2713200.0
1       4026960.0
2       2295510.0
3       6490260.0
4       6979350.0
          ...
3277    2704825.8
3278    3743053.2
3279     314205.9
3280    1277356.2
3281    3017093.7
Name: amount_tenge, Length: 3282, dtype: float64

In [35]:
df.head(10)

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.0,180,2713200.0
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.0,94,4026960.0
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.0,91,2295510.0
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342,6490260.0
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.0,184,6979350.0
5,Van Tuxwell,India,Smooth Sliky Salty,2022-06-06,5376.0,38,2741760.0
6,Oby Sorrel,UK,99% Dark & Pure,2022-01-25,13685.0,176,6979350.0
7,Gunar Cockshoot,Australia,After Nines,2022-03-24,3080.0,73,1570800.0
8,Jehu Rudeforth,New Zealand,50% Dark Bites,2022-04-20,3990.0,59,2034900.0
9,Brien Boise,Australia,99% Dark & Pure,2022-07-04,2835.0,102,1445850.0

In [36]:
df.rename(columns={'Amount':'Amount_dollar'})

,Sales Person,Country,Product,Date,Amount_dollar,Boxes Shipped,amount_tenge
0,Jehu Rudeforth,UK,Mint Chip Choco,2022-01-04,5320.00,180,2713200.0
1,Van Tuxwell,India,85% Dark Bars,2022-08-01,7896.00,94,4026960.0
2,Gigi Bohling,India,Peanut Butter Cubes,2022-07-07,4501.00,91,2295510.0
3,Jan Morforth,Australia,Peanut Butter Cubes,2022-04-27,12726.00,342,6490260.0
4,Jehu Rudeforth,UK,Peanut Butter Cubes,2022-02-24,13685.00,184,6979350.0
...,...,...,...,...,...,...,...
3277,Karlen McCaffrey,Australia,Spicy Special Slims,2024-05-17,5303.58,354,2704825.8
3278,Jehu Rudeforth,USA,White Choc,2024-06-07,7339.32,121,3743053.2
3279,Ches Bonnell,Canada,Organic Choco Syrup,2024-07-26,616.09,238,314205.9
3280,Dotty Strutley,India,Eclairs,2024-07-28,2504.62,397,1277356.2
3281,Karlen McCaffrey,India,70% Dark Bites,2024-05-23,5915.87,355,3017093.7

In [39]:
df['Sales Person'].duplicated()

0       False
1       False
2       False
3       False
4        True
        ...
3277     True
3278     True
3279     True
3280     True
3281     True
Name: Sales Person, Length: 3282, dtype: bool

In [41]:
df.loc[df['Sales Person'].duplicated(), 'Sales Person']

4         Jehu Rudeforth
5            Van Tuxwell
8         Jehu Rudeforth
16           Van Tuxwell
18        Beverie Moffet
              ...
3277    Karlen McCaffrey
3278      Jehu Rudeforth
3279        Ches Bonnell
3280      Dotty Strutley
3281    Karlen McCaffrey
Name: Sales Person, Length: 3257, dtype: object

In [64]:
df.sort_values('Amount', ascending=False)
#сортировка по убыванию

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge
2731,Ches Bonnell,India,Peanut Butter Cubes,2024-01-27,26170.95,224,13347184.5
1637,Ches Bonnell,India,Peanut Butter Cubes,2023-01-27,23251.68,210,11858356.8
2254,Van Tuxwell,Australia,Organic Choco Syrup,2024-08-10,22943.37,14,11701118.7
1229,Van Tuxwell,India,Organic Choco Syrup,2023-05-16,22751.18,182,11603101.8
2777,Curtice Advani,India,Smooth Sliky Salty,2024-04-19,22717.09,143,11585715.9
...,...,...,...,...,...,...,...
1959,Kaine Padly,New Zealand,Smooth Sliky Salty,2023-04-12,8.06,513,4110.6
1665,Gunar Cockshoot,UK,99% Dark & Pure,2023-03-07,8.04,85,4100.4
3053,Kaine Padly,New Zealand,Smooth Sliky Salty,2024-04-12,7.67,548,3911.7
571,Gunar Cockshoot,UK,99% Dark & Pure,2022-03-07,7.00,84,3570.0
865,Kaine Padly,New Zealand,Smooth Sliky Salty,2022-04-12,7.00,518,3570.0

In [50]:
df_filtered = df.loc[(df['Country'] == 'USA') & (df['Boxes Shipped'] > 100)]
df_filtered

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge
17,Roddy Speechley,USA,Smooth Sliky Salty,2022-04-05,3017.00,140,1538670.0
21,Gunar Cockshoot,USA,Spicy Special Slims,2022-02-17,1267.00,157,646170.0
22,Marney O'Breen,USA,After Nines,2022-05-30,4753.00,163,2424030.0
27,Husein Augar,USA,Eclairs,2022-07-07,4025.00,112,2052750.0
35,Roddy Speechley,USA,Manuka Honey Choco,2022-07-22,9583.00,315,4887330.0
...,...,...,...,...,...,...,...
3241,Kaine Padly,USA,85% Dark Bars,2024-06-22,564.67,256,287981.7
3244,Madelene Upcott,USA,Choco Coated Almonds,2024-06-07,6025.60,137,3073056.0
3252,Gigi Bohling,USA,70% Dark Bites,2024-01-14,8561.59,204,4366410.9
3270,Brien Boise,USA,Raspberry Choco,2024-01-12,807.26,198,411702.6
3278,Jehu Rudeforth,USA,White Choc,2024-06-07,7339.32,121,3743053.2

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   datetime64[ns]
 4   Amount         3282 non-null   float64
 5   Boxes Shipped  3282 non-null   int64
 6   amount_tenge   3282 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 179.6+ KB

In [62]:
#средний чек
df['Amount'].mean()

np.float64(6030.338775137113)

In [65]:
df.groupby('Sales Person').size()
#группировка

Sales Person
Andria Kimpton         117
Barr Faughny           129
Beverie Moffet         150
Brien Boise            159
Camilla Castle          96
Ches Bonnell           144
Curtice Advani         138
Dennison Crosswaite    147
Dotty Strutley         108
Gigi Bohling           141
Gunar Cockshoot        129
Husein Augar           114
Jan Morforth           117
Jehu Rudeforth         129
Kaine Padly            135
Karlen McCaffrey       141
Kelci Walkden          162
Madelene Upcott        135
Mallorie Waber         123
Marney O'Breen         135
Oby Sorrel             147
Rafaelita Blaksland    102
Roddy Speechley        129
Van Tuxwell            153
Wilone O'Kielt         102
dtype: int64

In [69]:
df.query("amount_tenge>=12000000")

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge
2731,Ches Bonnell,India,Peanut Butter Cubes,2024-01-27,26170.95,224,13347184.5

In [72]:
df.sort_values('Date')

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge
1012,Dotty Strutley,USA,Raspberry Choco,2022-01-03,3437.00,46,1752870.0
253,Marney O'Breen,Australia,Smooth Sliky Salty,2022-01-03,3745.00,170,1909950.0
89,Andria Kimpton,Canada,Caramel Stuffed Bars,2022-01-03,7154.00,348,3648540.0
187,Dotty Strutley,UK,99% Dark & Pure,2022-01-03,9310.00,282,4748100.0
185,Camilla Castle,UK,White Choc,2022-01-03,9982.00,187,5090820.0
...,...,...,...,...,...,...,...
3135,Wilone O'Kielt,UK,Milk Bars,2024-08-26,334.81,66,170753.1
2965,Husein Augar,UK,Eclairs,2024-08-30,1955.20,250,997152.0
3161,Jehu Rudeforth,India,Almond Choco,2024-08-30,11793.40,101,6014634.0
2492,Beverie Moffet,New Zealand,85% Dark Bars,2024-08-30,12886.26,21,6571992.6
2596,Kaine Padly,India,Spicy Special Slims,2024-08-31,6170.80,138,3147108.0

In [74]:
sales_by_person = (
    df.groupby('Sales Person')
    .agg(
        Количество_продаж=('Amount', 'count'),
        Сумма_продаж=('Amount', 'sum'),
        Коробок_отгружено=('Boxes Shipped', 'sum')
    )
    .reset_index()
)
sales_by_person

           Sales Person  Количество_продаж  Сумма_продаж  Коробок_отгружено
0        Andria Kimpton                117     648214.81              19730
1          Barr Faughny                129     830826.91              19520
2        Beverie Moffet                150     892421.37              28027
3           Brien Boise                159     997326.48              24738
4        Camilla Castle                 96     628613.13              16505
5          Ches Bonnell                144    1022599.96              23070
6        Curtice Advani                138     691797.92              21599
7   Dennison Crosswaite                147     931849.57              26862
8        Dotty Strutley                108     608101.17              20927
9          Gigi Bohling                141     742296.51              19237
10      Gunar Cockshoot                129     762283.43              20299
11         Husein Augar                114     656149.73              17683
12         Jan Morforth                117     706585.50              23360
13       Jehu Rudeforth                129     708505.03              22104
14          Kaine Padly                135     849062.76              22134
15     Karlen McCaffrey                141     713832.64              29553
16        Kelci Walkden                162    1002929.10              26605
17      Madelene Upcott                135    1010028.72              22199
18       Mallorie Waber                123     642903.33              18219
19       Marney O'Breen                135     836427.63              24595
20           Oby Sorrel                147    1017204.12              26390
21  Rafaelita Blaksland                102     668865.45              13091
22      Roddy Speechley                129     808359.58              21130
23          Van Tuxwell                153     974425.09              20627
24       Wilone O'Kielt                102     439961.92              12233

In [84]:
pivot_sales = pd.pivot_table(
    df,
    values='Amount',
    index='Sales Person',
    columns='Country',
    aggfunc='sum'
)
pivot_sales

Country,Australia,Canada,India,New Zealand,UK,USA
Sales Person,,,,,,
Andria Kimpton,98362.44,125723.90,85859.16,106369.83,119197.28,112702.20
Barr Faughny,148599.65,145249.46,100435.33,198149.28,49310.80,189082.39
Beverie Moffet,87891.54,231510.29,132064.14,144926.36,125577.48,170451.56
Brien Boise,193359.38,190561.00,194341.81,133659.43,100216.41,185188.45
Camilla Castle,101819.83,95660.41,99487.83,129269.81,63159.15,139216.10
Ches Bonnell,146848.82,129417.83,313021.88,151849.13,165591.76,115870.54
Curtice Advani,111123.57,128363.82,151793.32,101590.47,107453.55,91473.19
Dennison Crosswaite,210692.09,122576.20,127153.96,96072.18,153513.17,221841.97
Dotty Strutley,122349.29,52299.47,80866.70,100952.25,109967.37,141666.09
Gigi Bohling,123556.90,135861.67,54225.32,129212.88,164832.22,134607.52
Gunar Cockshoot,114152.44,165903.42,125731.33,134656.28,122367.31,99472.65
Husein Augar,166507.76,71422.13,118809.61,28840.64,175140.79,95428.80
Jan Morforth,155748.20,95843.25,218060.20,74878.39,115377.94,46677.52
Jehu Rudeforth,181023.00,85729.14,84843.11,57730.91,224407.74,74771.13
Kaine Padly,186047.12,147016.07,65533.02,89061.39,219484.95,141920.21
Karlen McCaffrey,129884.97,105524.64,129274.17,79054.61,73210.10,196884.15
Kelci Walkden,169119.19,181884.67,153357.57,126983.95,149414.51,222169.21
Madelene Upcott,185998.08,154032.32,51917.52,215372.90,227374.71,175333.19
Mallorie Waber,228112.72,87209.89,55452.40,107130.72,86881.49,78116.11
Marney O'Breen,159604.22,61342.97,112234.64,185477.81,185148.66,132619.33
Oby Sorrel,122011.34,134123.35,242478.98,173321.78,223698.58,121570.09
Rafaelita Blaksland,129861.74,80173.82,104773.87,125448.43,120583.61,108023.98
Roddy Speechley,101458.90,158106.74,187782.60,123084.01,109945.09,127982.24
Van Tuxwell,185081.32,166418.59,277532.36,96426.12,146312.04,102654.66
Wilone O'Kielt,87229.84,26540.60,76700.00,134134.48,27222.19,88134.81

In [85]:
pivot_avg = pd.pivot_table(
    df,
    values='Amount',
    index='Sales Person',
    columns='Country',
    aggfunc='mean'
)
pivot_avg

Country,Australia,Canada,India,New Zealand,UK,USA
Sales Person,,,,,,
Andria Kimpton,4683.925714,4656.440741,4769.953333,5909.435000,6622.071111,7513.480000
Barr Faughny,8255.536111,6052.060833,6695.688667,6004.523636,3287.386667,7878.432917
Beverie Moffet,3662.147500,9646.262083,4402.138000,5367.642963,5232.395000,8116.740952
Brien Boise,5859.375152,7940.041667,6478.060333,4950.349259,4772.210000,7716.185417
Camilla Castle,4848.563333,10628.934444,6632.522000,6155.705238,7017.683333,6629.338095
Ches Bonnell,6118.700833,7189.879444,10434.062667,5624.041852,6133.028148,6437.252222
Curtice Advani,4115.687778,4278.794000,5621.974815,5643.915000,5116.835714,6098.212667
Dennison Crosswaite,7803.410741,5107.341667,5298.081667,5337.343333,7310.150952,6722.483939
Dotty Strutley,4078.309667,5811.052222,5391.113333,6730.150000,7331.158000,5902.753750
Gigi Bohling,4576.181481,6469.603333,3615.021333,6152.994286,6104.897037,4486.917333
Gunar Cockshoot,5435.830476,6912.642500,5987.206190,7480.904444,5098.637917,4736.792857
Husein Augar,6937.823333,5951.844167,5657.600476,3204.515556,6486.695926,4544.228571
Jan Morforth,7416.580952,6389.550000,6057.227778,6239.865833,4807.414167,5186.391111
Jehu Rudeforth,7542.625000,4082.340000,4713.506111,3848.727333,6233.548333,4984.742000
Kaine Padly,6201.570667,5445.039630,7281.446667,7421.782500,7316.165000,5256.304074
Karlen McCaffrey,5411.873750,3517.488000,4787.932222,3293.942083,6100.841667,8203.506250
Kelci Walkden,6263.673704,8661.174762,4259.932500,6046.854762,6225.604583,6732.400303
Madelene Upcott,5636.305455,8557.351111,4326.460000,8973.870833,8421.285556,8349.199524
Mallorie Waber,8448.619259,3229.995926,3696.826667,5101.462857,5792.099333,4339.783889
Marney O'Breen,7600.200952,3407.942778,5344.506667,6869.548519,7714.527500,5525.805417
Oby Sorrel,5810.063810,5588.472917,8980.702963,7221.740833,7456.619333,5789.051905
Rafaelita Blaksland,5410.905833,5344.921333,6984.924667,6969.357222,8038.907333,7201.598667
Roddy Speechley,6763.926667,5855.805185,6954.911111,5128.500417,9162.090833,5332.593333
Van Tuxwell,7711.721667,5547.286333,8410.071515,4591.720000,5418.964444,5703.036667
Wilone O'Kielt,3230.734815,4423.433333,5113.333333,5588.936667,3024.687778,4196.895714

In [89]:
df.isna().sum()
#выполнена проверка наличия пропущенных значений.

Sales Person     0
Country          0
Product          0
Date             0
Amount           0
Boxes Shipped    0
amount_tenge     0
dtype: int64

In [90]:
df['Amount'] = df['Amount'].fillna(0)
#пропущенные значения в сумме продаж заменены на 0.

In [91]:
df['Sales Person'] = df['Sales Person'].str.upper()
#ФИО продавцов приведены к единому формату.

In [92]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)
df['Month'] = df['Date'].dt.month
#столбец даты преобразован в формат datetime и выделен месяц.

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   object
 1   Country        3282 non-null   object
 2   Product        3282 non-null   object
 3   Date           3282 non-null   datetime64[ns]
 4   Amount         3282 non-null   float64
 5   Boxes Shipped  3282 non-null   int64
 6   amount_tenge   3282 non-null   float64
 7   Month          3282 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(3)
memory usage: 192.4+ KB

In [94]:
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge,Month
0,JEHU RUDEFORTH,UK,Mint Chip Choco,2022-01-04,5320.0,180,2713200.0,1
1,VAN TUXWELL,India,85% Dark Bars,2022-08-01,7896.0,94,4026960.0,8
2,GIGI BOHLING,India,Peanut Butter Cubes,2022-07-07,4501.0,91,2295510.0,7
3,JAN MORFORTH,Australia,Peanut Butter Cubes,2022-04-27,12726.0,342,6490260.0,4
4,JEHU RUDEFORTH,UK,Peanut Butter Cubes,2022-02-24,13685.0,184,6979350.0,2

In [96]:
df_2022 = df[df['Date'].dt.year == 2022]
df_2023 = df[df['Date'].dt.year == 2023]

df_all = pd.concat([df_2022, df_2023], ignore_index=True)
#данные за разные периоды объединены в один датафрейм с помощью concat.
df_all

,Sales Person,Country,Product,Date,Amount,Boxes Shipped,amount_tenge,Month
0,JEHU RUDEFORTH,UK,Mint Chip Choco,2022-01-04,5320.00,180,2713200.0,1
1,VAN TUXWELL,India,85% Dark Bars,2022-08-01,7896.00,94,4026960.0,8
2,GIGI BOHLING,India,Peanut Butter Cubes,2022-07-07,4501.00,91,2295510.0,7
3,JAN MORFORTH,Australia,Peanut Butter Cubes,2022-04-27,12726.00,342,6490260.0,4
4,JEHU RUDEFORTH,UK,Peanut Butter Cubes,2022-02-24,13685.00,184,6979350.0,2
...,...,...,...,...,...,...,...,...
2183,KARLEN MCCAFFREY,Australia,Spicy Special Slims,2023-05-17,4791.20,335,2443512.0,5
2184,JEHU RUDEFORTH,USA,White Choc,2023-06-07,6646.33,117,3389628.3,6
2185,CHES BONNELL,Canada,Organic Choco Syrup,2023-07-26,593.63,229,302751.3,7
2186,DOTTY STRUTLEY,India,Eclairs,2023-07-28,2345.95,406,1196434.5,7
2187,KARLEN MCCAFFREY,India,70% Dark Bites,2023-05-23,5083.07,368,2592365.7,5

In [97]:
top_3_chocolate = (
    df
    .groupby('Product')
    .agg(Доход=('Amount', 'sum'))
    .sort_values('Доход', ascending=False)
    .head(3)
    .reset_index()
)
top_3_chocolate

              Product       Доход
0  Smooth Sliky Salty  1120201.09
1      50% Dark Bites  1087659.35
2          White Choc  1054257.00

In [101]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year

pivot_year = pd.pivot_table(
    df,
    values='Amount',
    index='Year',
    aggfunc='sum'
)
pivot_year

          Amount
Year
2022  6183625.00
2023  6643377.96
2024  6964568.90

In [ ]:
df.groupby('Country').agg({
    'Boxes': 'sum',
    'Amount': 'sum'
}).reset_index()